### LIST AND TUPLE PRACTISE : AI CLASS REVISION OF PYTHON

In [2]:
list1 = [1,2,3,4,5]

### sum of elements in list

In [3]:
sumele = 0
for ele in range(0, len(list1)):
    sumele  = sumele + list1[ele]
print("Sum = ", sumele )

Sum =  15

### largest element in list

In [5]:
print("Largest element is:", max(list1))

Largest element is: 5

### smallest number in list

In [8]:
print("Smallest element is:", min(list1))

Smallest element is: 1

### multiply all values in the list

In [9]:
result = 1
for x in list1:
     result = result * x

print("multiplcation of all element in list",result)

multiplcation of all element in list 120

### largest element in list

In [29]:
def myMax(list1):
  
    max = list1[0]
   
    for x in list1:
        if x > max :
             max = x
    return max
print(list1)

[1, 2, 3, 4, 5]

### PART II

### OPERATIONS RELATED TO TUPLES

In [23]:
#create a tuple
mytup = (1,2,3)
print(mytup)

(1, 2, 3)

In [24]:
### create tuple with different data items
mytup= ('abx', 1.1, 2)
print(mytup)

('abx', 1.1, 2)

In [25]:
### create tuple and print 1 element
mytup=(1,2,3,4,5)
print(mytup[0])

1

In [26]:
### add to tuple
mylist = list(mytup)
mylist.append(6)
mytup = tuple(mylist)
print(mytup)

(1, 2, 3, 4, 5, 6)

In [27]:
### add to tuple other way
mytup = mytup + (7,)
print(mytup)

(1, 2, 3, 4, 5, 6, 7)

In [28]:
### convert tuple to string
def tuple2string(tup):
    str = ''
    for item in tup:
        str = str + item
    return str
 
 
mytup = ('s','w','a','t','i')
str = tuple2string(mytup)
print(str)

swati