# LAB- 12: Write a python script to implement Bag of words and TF-IDF

# BAG OF WORDS

In [20]:
pip install docx2txt

Requirement already satisfied: docx2txt in c:\users\hp\anaconda3\lib\site-packages (0.8)Note: you may need to restart the kernel to use updated packages.

In [21]:
import docx2txt
import re
documents=docx2txt.process('word.docx')
doclist = [ line for line in documents ]
docstr = '' . join(doclist)
sentences = re.split(r'[.!?]', docstr)
print(sentences)

['Planet provides daily satellite data that helps businesses, governments, researchers, and journalists understand the physical world and take action', '']

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer(sentences)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass input=['Planet provides daily satellite data that helps businesses, governments, researchers, and journalists understand the physical world and take action', ''] as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [23]:
print(count_vector)

CountVectorizer(input=['Planet provides daily satellite data that helps '
                       'businesses, governments, researchers, and journalists '
                       'understand the physical world and take action',
                       ''])

In [24]:
count_vector.fit(sentences)
count_vector.get_feature_names()

['action',
 'and',
 'businesses',
 'daily',
 'data',
 'governments',
 'helps',
 'journalists',
 'physical',
 'planet',
 'provides',
 'researchers',
 'satellite',
 'take',
 'that',
 'the',
 'understand',
 'world']

In [25]:
doc_array = count_vector.transform(sentences).toarray()
doc_array

array([[1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
      dtype=int64)

In [26]:
import pandas as pd
frequency_matrix = pd.DataFrame(doc_array,index=sentences,columns=count_vector.get_feature_names())
frequency_matrix

,action,and,businesses,daily,data,governments,helps,journalists,physical,planet,provides,researchers,satellite,take,that,the,understand,world
"Planet provides daily satellite data that helps businesses, governments, researchers, and journalists understand the physical world and take action",1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# TF-IDF

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

In [28]:
X = vectorizer.fit_transform(sentences)

print(vectorizer.get_feature_names())
print(X.toarray())

['action', 'and', 'businesses', 'daily', 'data', 'governments', 'helps', 'journalists', 'physical', 'planet', 'provides', 'researchers', 'satellite', 'take', 'that', 'the', 'understand', 'world']
[[0.21821789 0.43643578 0.21821789 0.21821789 0.21821789 0.21821789
  0.21821789 0.21821789 0.21821789 0.21821789 0.21821789 0.21821789
  0.21821789 0.21821789 0.21821789 0.21821789 0.21821789 0.21821789]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]]

In [29]:
frequency_matrix = pd.DataFrame(X.toarray(),index=sentences,columns=count_vector.get_feature_names())
frequency_matrix

,action,and,businesses,daily,data,governments,helps,journalists,physical,planet,provides,researchers,satellite,take,that,the,understand,world
"Planet provides daily satellite data that helps businesses, governments, researchers, and journalists understand the physical world and take action",0.218218,0.436436,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218
,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000